/* Admin CSS */

.toplevel_page_smc-social-insight .wp-list-table #views,  
.toplevel_page_smc-social-insight .wp-list-table #comments { width:15%; }

.toplevel_page_smc-social-insight .wp-list-table #social { width:250px; }

/* Align thead lables */

.toplevel_page_smc-social-insight .wp-list-table #views a, 
.toplevel_page_smc-social-insight .wp-list-table #social a, 
.toplevel_page_smc-social-insight .wp-list-table #comments a { width:90%; }

.toplevel_page_smc-social-insight .wp-list-table thead .column-views a span, 
.toplevel_page_smc-social-insight .wp-list-table thead .column-social a span, 
.toplevel_page_smc-social-insight .wp-list-table thead .column-comments a span,
.toplevel_page_smc-social-insight .wp-list-table tfoot .column-views a span, 
.toplevel_page_smc-social-insight .wp-list-table tfoot .column-social a span, 
.toplevel_page_smc-social-insight .wp-list-table tfoot .column-comments a span { float:right; }

.toplevel_page_smc-social-insight .wp-list-table tfoot .column-social a,
.toplevel_page_smc-social-insight .wp-list-table tfoot .column-comments a { float:right; padding-right:17px;}


.toplevel_page_smc-social-insight .wp-list-table #views .sorting-indicator, 
.toplevel_page_smc-social-insight .wp-list-table #social .sorting-indicator, 
.toplevel_page_smc-social-insight .wp-list-table #comments .sorting-indicator { margin:7px; }

.toplevel_page_smc-social-insight .wp-list-table td.date { color:#666; font-size:10px; }

.toplevel_page_smc-social-insight .wp-list-table td.views,
.toplevel_page_smc-social-insight .wp-list-table td.social,
.toplevel_page_smc-social-insight .wp-list-table td.comments { text-align: right; padding:10px; }

.toplevel_page_smc-social-insight .wp-list-table .bar,
.toplevel_page_smc-social-insight .wp-list-table .total { display: inline-block; float:right; border-radius:2px; }

.toplevel_page_smc-social-insight .wp-list-table .bar { margin-left:5px; height:20px; overflow: visible; }
.toplevel_page_smc-social-insight .wp-list-table .bar span { overflow: hidden; height:20px; float: left; text-align: center; text-indent: -9999px; font-size:9px; line-height:21px; font-weight:300; }

.toplevel_page_smc-social-insight .wp-list-table td.social .bar { overflow: hidden; }

.toplevel_page_smc-social-insight .wp-list-table td.social .bar .facebook { display: inline-block; background-color:#3B5998; color:#CCCCCC; }
.toplevel_page_smc-social-insight .wp-list-table td.social .bar .twitter { display: inline-block; background-color:#9AE4E8; color:#EEEEEE; }
.toplevel_page_smc-social-insight .wp-list-table td.social .bar .other { display: inline-block; background-color:#666; color:#CCCCCC; }

.toplevel_page_smc-social-insight .wp-list-table tr:hover td.social .bar.stats span { text-indent: 0;}

.toplevel_page_smc-social-insight .wp-list-table td.social .bar { max-width:190px; min-width:5px; }
.toplevel_page_smc-social-insight .wp-list-table td.views .bar { max-width:80%; min-width:18px; background-color:#a9243b; color:#EEEEEE; }
.toplevel_page_smc-social-insight .wp-list-table td.comments .bar { max-width:80%; min-width:18px; background-color:#02bac1; color:#EEEEEE; }

.toplevel_page_smc-social-insight .wp-list-table td .total { height:16px; overflow: hidden; }

.toplevel_page_smc-social-insight .wp-list-table td.social .total { padding:2px 5px; }
.toplevel_page_smc-social-insight .wp-list-table td.views .total { padding:2px 5px; background-color:#a9243b; }
.toplevel_page_smc-social-insight .wp-list-table td.comments .total { padding:2px 5px; background-color:#02bac1; }
