<div class="update-nag" style="margin-bottom:30px;">

	<b>Help improve this plugin?</b>

	<p>The developer of this plugin would like to collect usage and debug stats to help make this plugin better for everyone.  You can turn this setting on or off anytime on the configuration page. <a href="javascript:void(0);" onClick="jQuery('#smt_debug_report').slideToggle();">See exactly what data will be shared.</a></p>

	<div id="smt_debug_report" style="display:none;">
		<textarea class="smt-debug-box">{{debug_report}}</textarea>
	</div>

	<p>
		<a href="{{url_to_enable_reports}}" class="button">Share debug stats with the developer</a> 
		&nbsp;
		<a href="{{url_to_disable_reports}}">No thanks, just hide this message.</a>
	</p>

</div>